<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar criatura</title>
    <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
</head>
<section class="cadastro">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;width: 1000px;margin-left: -300px;">
                    <div class="card-body p-5 text-center">
                        <div>
                            <h1>Cadastrar nova criatura</h1>

                            <form action="#" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Cadastrar">
                            </form>

                            <a href="{% url 'painel' %}">Voltar</a>
                        </div>
                        <div>
                        <p class="mb-0">Don't have an account? <a href="{% url 'cadastro' %}" class="text-white-50 fw-bold">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>