<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criaturas Cadastradas</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Criaturas cadastradas</h1>

    <ul>
        {% for criatura in criaturas %}
            <li>
                {{ criatura.nickname }}<br>
                <a href="{{ criatura.id }}">Mais informações</a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if criaturas.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ criaturas.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ criaturas.number }} de {{ criaturas.paginator.num_pages }}.
            </span>
    
            {% if criaturas.has_next %}
                <a href="?page={{ criaturas.next_page_number }}">Próxima</a>
                <a href="?page={{ criaturas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'painel' %}">Voltar</a>
</body>
</html>