<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criaturas cadastradas</title>
    <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
</head>
<body>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th class="th-sm"><h1>Criaturas cadastradas</h1>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    {% for criatura in criaturas %}
                                        <li>
                                            {{ criatura.nickname }}<br>
                                            <a href="{{ criatura.id }}">Mais informações</a>
                                        </li>
                                    {% endfor %}
                                </ul>                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                <a href="{% url 'painel' %}">Voltar</a>
                                <span class="step-links">{% if criaturas.has_previous %}<a href="?page=1">&laquo; Primeira</a>{% endif %}</span>
                                <span class="step-links">{% if criaturas.has_previous %}<a href="?page={{ criaturas.previous_page_number }}">Anterior</a>{% endif %}</span>
                                <span class="current">Página {{ criaturas.number }} de {{ criaturas.paginator.num_pages }}.</span>
                                <span class="step-links">{% if criaturas.has_next %}<a href="?page={{ criaturas.next_page_number }}">Próxima</a></span>
                                <span class="step-links"><a href="?page={{ criaturas.paginator.num_pages }}">Última &raquo;</a>{% endif %}</span>
                            </tr>
                        </tr>
                      </tfoot>
                </table> 
            </div>
        </div>
    </div>
</body>
</html>