<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criaturas Cadastradas</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Criaturas cadastradas</h1>

    <ul>
        {% for criatura in criaturas %}
            <li>
                {{ criatura.nickname }}<br>
                <a href="{{ criatura.id }}">Mais informações</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'painel' %}">Voltar</a>
</body>
</html>