<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>     
</head>
<body>
    <div class="header">
        <div class="center">
            <a href="{% url 'painel' %}">
                <img src='{% static "images/Omni Codex (dice).png" %}'/>
            </a>
        </div><!--center-->
    </div><!--header-->
    <div class="container-banner">
        <img class="container-banner" src='{% static "images/back2.jpg" %}'/>
        <div class="form"><!--Formulario-->
            <h2>Login</h2>
            <form action="#" method="POST">
                <div class=input-container>
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Entrar">
                    <p> ou </p>
                    <p  type="submit" href="{% url 'cadastro' %}"> Crie sua conta</p>
                </div><!--input-container-->
            </form><!--formulario-->
        </div><!--form-->
    </div><!--container-banner-->
</body>
</html>