<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Painel principal</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><button>Sair</button></a>
    {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
    {% endif %}

    <h3>Olá, {{ usuario.nome }}</h3>

    {% if request.user.is_superuser %}
    <a href="{% url 'cadastrar-criatura' %}"><button>Cadastrar criatura</button></a>
    <a href="{% url 'cadastrar-monstro' %}"><button>Cadastrar monstro</button></a>
    <a href="{% url 'cadastrar-personagem' %}"><button>Cadastrar personagem</button></a>
    {% endif %}
    <br>
    <a href="{% url 'criaturas-cadastradas' %}"><button>Criaturas cadastradas</button></a>
    <a href="{% url 'monstros-cadastrados' %}"><button>Monstros cadastrados</button></a>
    <a href="{% url 'personagens-cadastrados' %}"><button>Personagens cadastrados</button></a>
</body>
</html>