<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>    
</head>
<body class="painel">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;height: 100%;">
        <a href="{% url 'painel' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img href="{% url 'painel' %}"src='{%static "images/Omni Codex (dice).png" %}'style="width:240px;height:150px;margin-top: -60px;"></a>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="#" class="nav-link text-white" style = "margin-bottom:-10px;">
                    {% if user.is_authenticated %}
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    <h3 style = "margin-top: -60px;">Olá, {{ usuario.nome }}</h3>
                    <a href="{% url 'logout' %}" class="nav-link text-white" style = "margin-top: 10px;">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Sair
                </a>
                <br>
                <li>
                    <a href="{% url 'cadastrar-criatura' %}" class="nav-link text-white" style = "margin-top: 10px;">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Cadastrar criatura
                    </a>
                </li>
                <li>
                    <a href="{% url 'cadastrar-monstro' %}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Cadastrar monstro
                    </a>
                </li>
                <li>
                    <a href="{% url 'cadastrar-personagem' %}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Cadastrar personagem
                    </a>
                </li>
                <br>
                <li>
                    <a href="{% url 'criaturas-cadastradas' %}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Criaturas cadastradas
                    </a>
                </li>
                <li>
                    <a href="{% url 'monstros-cadastrados' %}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Monstros cadastrados
                    </a>
                </li>
                <li>
                    <a href="{% url 'personagens-cadastrados' %}" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                        Personagens cadastrados
                    </a>
                </li>
            </ul>
        <hr>
    </div>
        {% else %}
            <a href="{% url 'login' %}" class="nav-link text-white" style = "margin-top: 10px;">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Login
            </a>
            {% endif %}
        </a>
    </li>
</body>
</html>