<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagens cadastrados</title>
</head>
<body>
    <h1>Personagens cadastradas</h1>

    <ul>
        {% for personagem in personagens %}
            <li>
                {{ personagem.nickname.nickname }}<br>
                <a href="{{ personagem.id }}">Mais informações</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'painel' %}">Voltar</a>
</body>
</html>